<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hutech.doan.mangajava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegistActivity"/>
        <activity
            android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.ManagePicActivity" />
        <activity
            android:name=".Activity.ManageStoryActivity" />
        <activity
            android:name=".Activity.DetailStoryActivity" />
        <activity
            android:name=".Activity.DetailPicActivity" />

    </application>

</manifest>